---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.all %}
  <url>
    <loc>{{ site.url }}{{ page.url }}</loc>
    <lastmod>{{ page.date | isoDate }}</lastmod>
    {%- if page.url == "/" %}
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
    {%- elif "/docs/" in page.url %}
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
    {%- else %}
    <changefreq>monthly</changefreq>
    <priority>0.5</priority>
    {%- endif %}
  </url>
  {%- endfor %}
</urlset>
